@media screen and (min-width: 1001px)
{
    div.image
    {
        width: 220px;
        margin-left: 35px;
    }

    header
    {
        flex-direction: row;
    }

    div.list
    {
        width: 100%;
        padding: 5px;
    }
    
    div.list > ul > li > a
    {
        font-size: 13px;
    }
}