@media screen and (max-width: 1000px)
{
    div.image
    {
        width: 200px;
    }

    header
    {
        flex-direction: column;
    }

    div.list
    {
        width: 100%;
        padding: 5px;
    }
    
    div.list > ul > li > a
    {
        font-size: 13px;
    }
}